/dist/
/out/
_site/
/docs/javadoc/
.idea/
*.iml
/artifacts
/nbproject/private/
/.nb-gradle
build/
.DS_Store
.gradle/
.nb-gradle-properties
.bdb/
tomcat.8080
**/.lein*
**/target
/comsat-ring-jetty9/pom.xml
/comsat-ring-jetty9/pom.xml.asc
